//colors
$coral: #ff7f50;
$white: #fff;
$black: #000;
$yellow_9: rgba(255, 255, 0, 0.09);
$white_10: rgba(255, 255, 255, 0.1);
$color_atlantis_approx: yellowgreen;
$white2: rgba(255, 255, 255, 0.2);
$color_input: rgba(154, 205, 50, 0.09);
$color_green: #79f279;
$color_grey: #999;
$color_dgrey: #333;
$color_lgrey: #777;
$color_gray1: #686868;
$color_focus: #555;
$color_red: #eb6841;
